<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebirdberlin.smartringcontrollerpro"
    android:versionCode="45"
    android:versionName="2.5.7">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.light" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="true" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="SmartRingController"
        android:theme="@style/PreferencesTheme">

        <activity
            android:name=".SmartRingController"
            android:label="SmartRingController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:enabled="false" android:name=".SetRingerService" />
        <service android:enabled="false" android:name=".TTSService" />

<!--
        Notification listener Service for android 4.3 +
-->
        <service android:name=".mNotificationListener"
                 android:priority="10000"
                 android:label="SmartRingController"
                 android:enabled="@bool/use_NotificationListenerService"
                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
                 >
            <intent-filter android:priority="1000">
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service android:enabled="false" android:name=".EnjoyTheSilenceService" />

        <receiver android:name=".receivers.RingerModeStateChangeReceiver" android:enabled="true"/>
        <receiver android:name=".receivers.BluetoothScoReceiver" android:enabled="true"/>
        <receiver android:name=".receivers.HeadsetPlugReceiver" android:enabled="true"/>
        <receiver android:name=".receivers.IncomingCallReceiver" android:enabled="false">
            <intent-filter android:priority="1000">
                 <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".pebble.PebbleConnectionReceiver" android:enabled="false">
            <intent-filter android:priority="1000">
                 <action android:name="com.getpebble.action.PEBBLE_CONNECTED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".pebble.PebbleDisconnectionReceiver" android:enabled="false">
            <intent-filter android:priority="1000">
                 <action android:name="com.getpebble.action.PEBBLE_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".pebble.PebbleMessageReceiver" android:enabled="false">
            <intent-filter android:priority="1000">
                 <action android:name="com.getpebble.action.app.RECEIVE"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
